@media screen and (max-width: 1030px){
    .header {
        &_right {
            display: none;
            &--mobile {
                display: block;
                cursor: pointer;
            }
        }
    }
}